<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success">4</span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have 4 messages</li>
    <li>
      <!-- begin inner menu -->
      <ul class="menu">
        <!-- start message -->
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
            </div>
            <h4>
              Support Team
              <small><i class="fa fa-clock-o"></i> 5 mins</small>
            </h4>
            <p>Why not buy a new awesome theme?</p>
          </a>
        </li>
        <!-- end message -->
        <!-- begin dummy data -->
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
            </div>
            <h4>
              Support Team
              <small><i class="fa fa-clock-o"></i> 5 mins</small>
            </h4>
            <p>Why not buy a new awesome theme?</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
            </div>
            <h4>
              Support Team
              <small><i class="fa fa-clock-o"></i> 5 mins</small>
            </h4>
            <p>Why not buy a new awesome theme?</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">
            </div>
            <h4>
              Support Team
              <small><i class="fa fa-clock-o"></i> 5 mins</small>
            </h4>
            <p>Why not buy a new awesome theme?</p>
          </a>
        </li>
        <!-- end dummy data -->
      </ul>
      <!-- end inner menu -->
    </li>
    <li class="footer"><a href="#">See All Messages</a></li>
  </ul>
</li>
</html>