<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="http://placehold.it/160x160" class="user-image" alt="User Image">
    <span class="hidden-xs">Alexander Pierce</span>
  </a>
  <ul class="dropdown-menu">
    <!-- begin user image -->
    <li class="user-header">
      <img src="http://placehold.it/160x160" class="img-circle" alt="User Image" />
      <p>
        Alexander Pierce - Web Developer
        <small>Member since Nov. 2012</small>
      </p>
    </li>
    <!-- end user image -->
    <!-- begin menu body -->
    <li class="user-body">
      <div class="row">
        <div class="col-xs-4 text-center">
          <a href="#">Followers</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Sales</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Friends</a>
        </div>
      </div>
    </li>
    <!-- end menu body -->
    <!-- begin menu footer -->
    <li class="user-footer">
      <div class="pull-left">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a href="#" class="btn btn-default btn-flat">Sign out</a>
      </div>
    </li>
    <!-- end menu footer -->
  </ul>
</li>
</html>