<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/AdminLTE}"
      lang="en">
<div layout:fragment="content" th:remove="tag">
  Content here
  <!--/*
  <modal layout:include="~{layouts/bootstrap/bsModal}" th:with="modalId='myDemoModal',modalTitle='Modal basligi',hasFooter=true,closeButton=true,saveButton='Save'" th:remove="tag">
    <div layout:fragment="content">Modal icerigi burasi</div>
  </modal>

  <alert layout:include="~{layouts/bootstrap/bsAlert}" th:with="alertTitle='Sictin!',icon='fa-trash',alertClass='alert-danger',dismissable=true" th:remove="tag">
    <div layout:fragment="content" th:remove="tag">Burasi alert blok</div>
  </alert>
  */-->
</div>


<div layout:fragment="userMenu" th:remove="tag">
  <div layout:include="~{layouts/fragments/userMenu}" th:remove="tag"></div>
</div>

<div layout:fragment="tasksMenu" th:remove="tag">
  <div layout:include="~{layouts/fragments/tasksMenu}" th:remove="tag"></div>
</div>

<div layout:fragment="notificationsMenu" th:remove="tag">
  <div layout:include="~{layouts/fragments/notificationsMenu}" th:remove="tag"></div>
</div>

<div layout:fragment="messagesMenu" th:remove="tag">
  <div layout:include="~{layouts/fragments/messagesMenu}" th:remove="tag"></div>
</div>

</html>